/* google fonst */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sansa-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}